VITE_SITE_NAME="IHEDINMA GODWIN OKAFOR"
VITE_SITE_ROLE="Full-Stack Developer"
VITE_SITE_DESCRIPTION="Full-Stack Developer Building For The Community"
VITE_LOCATION="Remote"
VITE_CONTACT_EMAIL="contact@buildwithnero.dev"
VITE_GITHUB_URL="https://github.com/buildwithnero"
VITE_LINKEDIN_URL=""
VITE_SITE_URL=""
